<template>

    <div class="container-fluid register">
        <alert
                v-if="$store.getters['alert/message']"
                :message="$store.getters['alert/message']"
                :type="$store.getters['alert/type']"
                @hide="$store.dispatch('alert/hide')"
        />
        <div class="row h-100">
            <div class="col-12 d-flex align-items-center justify-content-center">

                <template v-if="steps.step1">
                    <div class="block-form d-flex flex-column align-items-center justify-content-center p-2">
                        <h3>Step 1</h3>
                        <div class="mb-3 w-100">
                            <input type="text" class="input-group" placeholder="Имя" v-model="model.first_name"/>
                        </div>
                        <div class="register__btn-wrapper" >
                            <button v-if="isNotEmptyTextField('first_name')" @click="changeStep('first_name')" class="btn btn-info">Next</button>
                        </div>
                    </div>
                </template>
                <template v-if="steps.step2">
                    <div class="block-form d-flex align-items-center justify-content-center">
                        <h3>Step 2 </h3>
                        <input type="text" class="input-group" v-model.lazy="model.secondary_name"/>
                        <button @click="changeStep('secondary_name')" class="btn btn-info">Next</button>
                    </div>
                </template>
                <template v-if="steps.step3">
                    <div class="block-form d-flex align-items-center justify-content-center">
                        <h3>Step 3</h3>
                        <input type="text" class="input-group" v-model.lazy="model.phone"/>
                        <button @click="changeStep('phone')" class="btn btn-info">Next</button>
                    </div>
                </template>
                <template v-if="steps.step4">
                    <div class="block-form d-flex align-items-center justify-content-center">
                        <h3>Step 4</h3>
                        <input type="text" class="input-group" v-model.lazy="model.bill"/>
                        <button @click="changeStep('bill')" class="btn btn-info">Next</button>
                    </div>
                </template>
                <template v-if="steps.step5">
                    <div class="block-form d-flex align-items-center justify-content-center">
                        <h3>Step 5</h3>
                        <input type="text" class="input-group" v-model.lazy="model.email"/>
                        <button @click="changeStep('email')" class="btn btn-info">Next</button>
                    </div>
                </template>
                <template v-if="steps.step6">
                    <div class="block-form d-flex align-items-center justify-content-center">
                        <h3>Step 6</h3>
                        <input type="text" class="input-group" v-model.lazy="model.password"/>
                        <button @click="changeStep('password')" class="btn btn-info">Next</button>
                    </div>
                </template>
                <template v-if="steps.step7">
                    <div class="block-form d-flex flex-column align-items-center justify-content-center">
                        <label for="front_drive_card" class="btn btn-info mb-1">Step 7</label>
                        <div class="mb-1">
                            <span v-if="this.model['front_drive_card'] !== null">{{ this.model['front_drive_card'].name }}</span>
                        </div>
                        <input
                                type="file"
                                name="front_drive_card"
                                class="input-group d-none"
                                @change="add($event, 'front_drive_card')"
                                id="front_drive_card"
                        />
                        <div v-if="this.model['front_drive_card'] !== null">
                            <button @click="changeStep('front_drive_card')" class="btn btn-info">Next</button>
                        </div>
                    </div>
                </template>
                <template v-if="steps.step8">
                    <div class="block-form">
                        <label for="back_drive_card" class="btn btn-info">Step 8</label>
                        <span v-if="this.model['back_drive_card'] !== null">{{ this.model['back_drive_card'].name }}</span>
                        <input
                                type="file"
                                name="back_drive_card"
                                class="input-group d-none"
                                @change="add($event, 'back_drive_card')"
                                id="back_drive_card"
                        />
                        <div>
                            <button @click="changeStep('back_drive_card')" class="btn btn-info">Next</button>
                        </div>
                    </div>
                </template>
                <template v-if="steps.step9">
                    <div class="block-form d-flex align-items-center justify-content-center">
                        <h3>Step 9</h3>
                        <input
                                type="file"
                                name="certificate"
                                class="input-group"
                                @change="add($event, 'certificate')"
                        />
                        <button @click="changeStep('certificate')" class="btn btn-info">Next</button>
                    </div>
                </template>
                <template v-if="steps.step10">
                    <div class="block-form d-flex align-items-center justify-content-center">
                        <h3>Step 10</h3>
                        <input
                                type="file"
                                name="photo"
                                class="input-group"
                                @change="add($event, 'photo')"
                        />
                        <button @click="changeStep('photo')" class="btn btn-info">Next</button>
                    </div>
                </template>
                <template v-if="steps.step11">
                    <div class="block-form d-flex align-items-center justify-content-center">
                        <h3>Step 11</h3>
                        <input
                                type="file"
                                name="passport"
                                class="input-group"
                                @change="add($event, 'passport')"
                        />
                        <button @click="changeStep('passport')" class="btn btn-info">Next</button>
                    </div>
                </template>
                <template v-if="steps.step12">
                    <h3>Step 13</h3>
                    <button @click="process" class="btn btn-info">Save</button>
                </template>
                <template v-if="steps.step13">
                    <h3>Congratulation</h3>
                </template>


            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import Form from '../../services/ui-components/Form';
    // import Pagination from '../../services/ui-components/Pagination';
    import MixinForm from '../../mixins/form';
    import MixinPaginate from '../../mixins/paginate';
    import Alert from '../../services/ui-components/Alert';

    export default {
        name: "Register",
        components: {
            Form,
            // Pagination,
            Alert
        },

        mixins: [MixinForm, MixinPaginate],

        watch: {},
        data() {
            return {
                model: {
                    first_name: null,
                    secondary_name: null,
                    phone: null,
                    bill: null,
                    email: null,
                    password: null,
                    front_drive_card: null,
                    back_drive_card: null,
                    certificate: null,
                    photo: null,
                    passport: null,
                    Finish: false,
                },
                uniques: [
                    'phone', 'bill', 'email'
                ],
                binding: {
                    get_first_name: 'step1',
                    get_secondary_name: 'step2',
                    get_phone: 'step3',
                    get_bill: 'step4',
                    get_email: 'step5',
                    get_password: 'step6',
                    get_front_drive_card: 'step7',
                    get_back_drive_card: 'step8',
                    get_certificate: 'step9',
                    get_photo: 'step10',
                    get_passport: 'step11',
                    get_Finish: 'step12',
                    get_Success: 'step13'
                },
                steps: {
                    step1: true,
                    step2: false,
                    step3: false,
                    step4: false,
                    step5: false,
                    step6: false,
                    step7: false,
                    step8: false,
                    step9: false,
                    step10: false,
                    step11: false,
                    step12: false,
                    step13: false
                }
            }
        },
        computed: {
            ...mapGetters({
                get_first_name: 'register/getFirstName',
                get_secondary_name: 'register/getSecondName',
                get_phone: 'register/getPhone',
                get_bill: 'register/getBill',
                get_email: 'register/getEmail',
                get_password: 'register/getPassword',
                get_front_drive_card: 'register/getDriveCardFront',
                get_back_drive_card: 'register/getDriveCardBack',
                get_certificate: 'register/getPhotoUnjail',
                get_photo: 'register/getPhoto',
                get_passport: 'register/getPassportPhoto'
            }),
        },
        methods: {
            ...mapMutations({
                set_first_name: 'register/SET_FIRST_NAME',
                set_secondary_name: 'register/SET_SECOND_NAME',
                set_phone: 'register/SET_PHONE',
                set_bill: 'register/SET_BILL',
                set_email: 'register/SET_EMAIL',
                set_password: 'register/SET_PASSWORD',
                set_front_drive_card: 'register/SET_DRIVE_CARD_FRONT',
                set_back_drive_card: 'register/SET_DRIVE_CARD_BACK',
                set_certificate: 'register/SET_PHOTO_UNJAIL',
                set_photo: 'register/SET_PHOTO',
                set_passport: 'register/SET_PASSPORT_PHOTO'
            }),
            ...mapActions({
                save: 'register/save',
                check: 'register/checkUnique'
            }),
            changeStep(field) {
                let mutation = 'set_' + field;

                let needUnique = this.uniques.filter(function (item) {
                    return item === field
                }).length > 0;
                if (needUnique) {
                    this.check({field: field, value: this.model[field]}).then(response => {
                        if (parseInt(response) > 0) {
                            this.$store.dispatch('alert/danger', 'Такое уже существует')
                        } else {
                            this[mutation](this.model[field]);
                            this.showBlock();
                        }
                    });
                } else {
                    this[mutation](this.model[field]);
                    this.showBlock();
                }

            },
            showBlock() {
                if (this.model.first_name == null) {
                    this.processBlock(this.binding['get_first_name']);
                } else if (this.model.secondary_name == null) {
                    this.processBlock(this.binding['get_secondary_name']);
                } else if (this.model.phone == null) {
                    this.processBlock(this.binding['get_phone']);
                } else if (this.model.bill == null) {
                    this.processBlock(this.binding['get_bill']);
                } else if (this.model.email == null) {
                    this.processBlock(this.binding['get_email']);
                } else if (this.model.password == null) {
                    this.processBlock(this.binding['get_password']);
                } else if (this.model.front_drive_card == null) {
                    this.processBlock(this.binding['get_front_drive_card']);
                } else if (this.model.back_drive_card == null) {
                    this.processBlock(this.binding['get_back_drive_card']);
                } else if (this.model.certificate == null) {
                    this.processBlock(this.binding['get_certificate']);
                } else if (this.model.photo == null) {
                    this.processBlock(this.binding['get_photo']);
                } else if (this.model.passport == null) {
                    this.processBlock(this.binding['get_passport']);
                } else if (!this.model.Finish) {
                    this.processBlock(this.binding['get_Finish']);
                } else {
                    this.processBlock(this.binding['get_Success'])
                }
            },
            processBlock(step) {
                for (let item in this.steps) {
                    if (!this.steps.hasOwnProperty(item)) {
                        continue;
                    }

                    if (step == item) {
                        this.steps[item] = true;
                    } else {
                        this.steps[item] = false;
                    }
                }
            },
            add(e, key) {
                this.model[key] = e.target.files[0];
            },
            process() {
                this.save().then(response => {
                    console.log(response);
                    this.model.Finish = true;
                    this.showBlock();

                }).catch(error => {
                    console.log(error);
                });
            },
            isNotEmptyTextField(field)
            {
                return !(this.model[field] === null || this.model[field].length === 0);
            }
        }
    }
</script>

<style scoped lang="scss">
    .register {
        width: 100%;
        height: 100%;

        &__btn-wrapper {
            min-height: 37px;
        }

        .block-form {
            width: 100%;
            max-width: 450px;
            min-width: 290px;
            height: 300px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
            border-radius: 10px;
        }

    }
</style>