<template>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="firstName" placeholder="First name">
        <label for="firstName">First name</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="secondName" placeholder="Second name">
        <label for="secondName">Second name</label>
    </div>
</template>

<script>
    export default {
        name: "FirstStep",
    }
</script>

<style scoped>

</style>
