<template>
    <main
    class="relative h-screen overflow-hidden bg-gray-100 dark:bg-gray-800 rounded-2xl"
>
    <div class="flex items-start justify-between">
        <!-- <app-header /> -->

        <app-menu />

        <!-- <app-mobi /> -->

        <app-main />

        <!-- <app-panel /> -->

        <!-- <app-footer /> -->
    </div>
</main>
</template>

<script>
// import AppLoading from "./components/layout/Loading.vue";
import AppHeader from "./components/layout/Header.vue";
import AppFooter from "./components/layout/Footer.vue";
import AppMenu from "./components/layout/Menu.vue";
// import AppMobi from "./components/layout/Mobi.vue";
// import AppPanel from "./components/layout/Panel.vue";
import AppMain from "./components/layout/Main.vue";
export default {
    components: {
        AppHeader,
        AppFooter,
        AppMenu,
        // AppMobi,
        // AppPanel,
        AppMain,
        // AppLoading
    }
};
</script>

<style></style>
