<template>
    <div class="mb-3 file">

        <template v-if="changeFile || value.length === 0">
            <label class="form-label" :for="id">{{ label }}</label>
            <input type="file"
                   :name="name"
                   :id="id"
                   :class="classes"
                   :placeholder="placeholder"
                   @change="$emit('change', $event, name)">

            <small>{{ errorText }}</small>
        </template>
        <template v-else="">
            <div class="d-flex justify-content-between align-items-center file__full">
                <span v-if="typeof value.name !== 'undefined'">{{ value.name }}</span>
                <span v-else="">File is uploaded</span>
                <div>
                    <button
                            v-if="typeof value.name === 'undefined'"
                            type="button"
                            class="btn btn-info"
                            @click.prevent="showImage"
                    >
                        <i class="fa fa-picture-o" aria-hidden="true"></i>

                    </button>
                    <button
                            type="button"
                            class="btn btn-danger"
                            @click.prevent="visibleField"
                    >
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </template>

        <Modal
                v-if="isModalVisible"
                @cancel="closeModal"
                :showFooter="false"
                :full="false"
        >
            <template v-slot:header>
                {{ label }}
            </template>
            <template v-slot:body>
                <div class="file__img-block d-flex align-items-center justify-content-center">
                    <img :src="value" :alt="label">
                </div>
            </template>
        </Modal>

    </div>
</template>

<script>
    import Modal from '../../../components/Modal';

    export default {
        name: "File",
        components: {
            Modal
        },
        props: {
            name: {
                type: String
            },
            id: {
                type: String
            },
            classes: {
                default: () => []
            },
            placeholder: {
                type: String
            },
            label: {
                type: String
            },
            errorText: {
                type: String
            },
            value: {
                validator: function (value) {
                    return value instanceof File || typeof value === 'string';
                }
            }
        },
        data() {
            return {
                changeFile: false,
                isModalVisible: false,
            }
        },
        methods: {
            visibleField() {
                this.changeFile = true;
            },
            showImage() {
                this.showModal();
            },
            showModal() {
                this.isModalVisible = true;
            },
            closeModal() {
                this.isModalVisible = false;
            },
        }
    }
</script>

<style scoped lang="scss">

    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';

    @import '~bootstrap/scss/forms/form-control';

    .file {
        &__full {
            @extend .form-control !optional;
            padding-top: $input-padding-y;
            height: auto;
        }
        &__img {
            &-block {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
</style>