<template>

    <!-- <transition name="fade" mode="out-in" appear> -->
    <router-view :key="$route.fullPath"></router-view>

    <!-- </transition> -->

</template>

<script>
    export default {
        name: "AppMain"
    }
</script>

<style lang="scss" scoped>

</style>
