<template>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">


            <ul class="nav flex-column">
                <li class="nav-item" v-for="(item, index) in getMenu" :key="index">
                    <router-link class="nav-link" :to="{name:item.name}">
                        <i v-if="item.meta.icon" :class="['icon', 'fa', item.meta.icon]"></i>
                        <i class="icon fa fa-link" v-else></i>
                        <span class="title">{{ item.meta.menuTitle || item.meta.title }}</span>
                    </router-link>
                </li>

            </ul>

        </div>
    </nav>
</template>

<script>
    export default {
        name: 'AppSidebar',

        computed: {
            getMenu() {
                let result = [];
                let items = this.$router.getRoutes();
                for (let item in items) {
                    if (!items.hasOwnProperty(item)) { continue; }
                    if (typeof items[item].meta.inMenu === 'undefined' || !items[item].meta.inMenu) { continue; }
                    result.push(items[item]);
                }

                return result;
            }
        }
    }
</script>

<style>
    body {
        font-size: .875rem;
    }

    .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }

    /*
     * Sidebar
     */
    .icon {
        margin-right: 5px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        /* rtl:raw:
        right: 0;
        */
        bottom: 0;
        /* rtl:remove */
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 48px 0 0; /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    @media (max-width: 767.98px) {
        .sidebar {
            top: 5rem;
        }
    }

    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    .sidebar .nav-link {
        font-weight: 500;
        color: #333;
    }

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
    }

    .sidebar .nav-link.active {
        color: #4AAE9B;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
        color: inherit;
    }

    .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
    }

    /*
     * Navbar
     */

    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .navbar-toggler {
        top: .25rem;
        right: 1rem;
    }

    .navbar .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }

    .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }


</style>
