<template>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Page for car in park</h1>

        </div>

        <add-block
                btnShowText="Показать форму"
                btnHideText="Скрыть форму"
                :hidden="hidenForm"
                @hide="hideForm"
                @show="showForm"
        >
            <template v-slot:content>

                <div class="row border border-success rounded rounded-10 shadow-lg p-3 mb-5 border-1 mt-3">
                    <div class="col-12">

                        <Form
                                :model="getModel"
                                :formType="formType"
                                action="car/save"
                                @submit="submit"
                                :needFile="true"
                        >
                            <template v-slot:mark_id="slotProps">
                                <div class="mb-3 form-floating">

                                    <select name="mark_id" id="floatingCarMark"
                                            :class="[slotProps.errors.mark_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                            v-model="model.mark_id">
                                        <template v-for="item in mark_select">
                                            <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                        </template>

                                    </select>
                                    <label for="floatingCarMark">*Car mark</label>
                                    <small>{{ slotProps.errors.mark_id }}</small>

                                </div>
                            </template>

                            <template v-slot:model_id="slotProps">
                                <div class="mb-3 form-floating">


                                    <select name="car_model" id="floatingCarModel"
                                            :class="[slotProps.errors.model_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                            v-model="model.model_id"
                                    >
                                        <template v-for="item in getModelMark()">
                                            <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                        </template>
                                    </select>
                                    <label for="floatingCarModel">*Car model</label>
                                    <small>{{ slotProps.errors.model_id }}</small>

                                </div>
                            </template>

                            <template v-slot:year="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="year"
                                           :class="[slotProps.errors.year.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingYear"
                                           v-model="model.year" placeholder="Year">
                                    <label for="floatingYear">*Year</label>
                                    <small>{{ slotProps.errors.year }}</small>
                                </div>
                            </template>

                            <template v-slot:color="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="color"
                                           :class="[slotProps.errors.color.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingColor"
                                           v-model="model.color" placeholder="Color">
                                    <label for="floatingColor">*Color</label>
                                    <small>{{ slotProps.errors.color }}</small>
                                </div>
                            </template>

                            <template v-slot:number_car="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="number_car"
                                           :class="[slotProps.errors.number_car.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           id="floatingNumberCar"
                                           v-model="model.number_car" placeholder="Number Car">
                                    <label for="floatingNumberCar">*Number car</label>
                                    <small>{{ slotProps.errors.number_car }}</small>
                                </div>
                            </template>

                            <template v-slot:fuel_id="slotProps">
                                <div class="mb-3 form-floating">

                                    <select name="fuel_id" id="floatingFuel"
                                            :class="[slotProps.errors.fuel_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                            v-model="model.fuel_id"
                                    >
                                        <template v-for="item in fuel_select">
                                            <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                        </template>
                                    </select>
                                    <label for="floatingFuel">*Fuel</label>
                                    <small>{{ slotProps.errors.fuel_id }}</small>

                                </div>
                            </template>

                            <template v-slot:transmission_id="slotProps">
                                <div class="mb-3 form-floating">

                                    <select name="transmission_id" id="floatingTransmission"
                                            :class="[slotProps.errors.transmission_id.length > 0 ? 'is-invalid' : '', 'form-select']"
                                            v-model="model.transmission_id"
                                    >
                                        <template v-for="item in transmission_select">
                                            <option :value="item.id" :key="item.id">{{ item.name }}</option>
                                        </template>
                                    </select>

                                    <label for="floatingTransmission">*Transmission</label>
                                    <small>{{ slotProps.errors.transmission_id }}</small>
                                </div>
                            </template>

                            <template v-slot:price="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="price" id="floatingPrice"
                                           :class="[slotProps.errors.price.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           v-model="model.price" placeholder="Price">
                                    <label for="floatingPrice">*Price</label>
                                    <small>{{ slotProps.errors.Price }}</small>
                                </div>
                            </template>

                            <template v-slot:date_technical_inspection="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="date_technical_inspection"
                                           id="floating_date_technical_inspection"
                                           :class="[slotProps.errors.date_technical_inspection.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           v-model="model.date_technical_inspection" placeholder="Technical inspection">
                                    <label for="floating_date_technical_inspection">*Technical inspection</label>
                                    <small>{{ slotProps.errors.date_technical_inspection }}</small>
                                </div>
                            </template>

                            <template v-slot:technical_inspection_first="slotProps">
                                <FileField
                                        name="technical_inspection_first"
                                        id="floating_technical_inspection_first"
                                        :classes="[slotProps.errors.technical_inspection_first.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="Technical inspection first"
                                        label="*Technical inspection first"
                                        :errorText="slotProps.errors.technical_inspection_first"
                                        :value="model.technical_inspection_first || ''"
                                        @change="add"
                                />
                            </template>

                            <template v-slot:technical_inspection_second="slotProps">
                                <FileField
                                        name="technical_inspection_second"
                                        id="floating_technical_inspection_second"
                                        :classes="[slotProps.errors.technical_inspection_second.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="Technical inspection second"
                                        label="*Technical inspection second"
                                        :errorText="slotProps.errors.technical_inspection_second"
                                        :value="model.technical_inspection_second || ''"
                                        @change="add"
                                />
                            </template>

                            <template v-slot:date_insurance="slotProps">
                                <div class="mb-3 form-floating">

                                    <input type="text" required name="date_insurance" id="floating_date_insurance"
                                           :class="[slotProps.errors.date_insurance.length > 0 ? 'is-invalid' : '', 'form-control']"
                                           v-model="model.date_insurance" placeholder="Insurance">
                                    <label for="floating_date_insurance">*Insurance</label>
                                    <small>{{ slotProps.errors.date_insurance }}</small>
                                </div>
                            </template>

                            <template v-slot:insurance_photo="slotProps">
                                <FileField
                                        name="insurance_photo"
                                        id="floating_insurance_photo"
                                        :classes="[slotProps.errors.insurance_photo.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="Insurance photo"
                                        label="*Insurance photo"
                                        :errorText="slotProps.errors.insurance_photo"
                                        :value="model.insurance_photo || ''"
                                        @change="add"
                                />
                            </template>

                        </Form>
                    </div>
                </div>

            </template>
        </add-block>

        <br>

        <hr>
        <Pagination
                :urls="urls"
                :total="total"
                :lastPage="lastPage"
                @changePerPage="changePerPage"
                @changePage="fetch"
        ></Pagination>
        <hr>

        <h2>Section title</h2>
        <div class="table-responsive">
            <div class="table-responsive">

                <preloader>
                    <template v-slot:content>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th scope="col">Car mark</th>
                                <th scope="col">Car model</th>
                                <th scope="col">Year</th>
                                <th scope="col">Color</th>
                                <th scope="col">Number</th>
                                <th scope="col">Fuel</th>
                                <th scope="col">Transmission</th>
                                <th scope="col">Price</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(car, index) in items" :key="index">
                                <td>{{ car.id }}</td>
                                <td>{{ car.mark.name }}</td>
                                <td>{{ car.model.name }}</td>
                                <td>{{ car.year }}</td>
                                <td>{{ car.color }}</td>
                                <td>{{ car.number_car }}</td>
                                <td>{{ car.fuel.name }}</td>
                                <td>{{ car.transmission.name }}</td>
                                <td>{{ car.price }}</td>
                                <td>
                                    <button class="btn btn-danger" @click.prevent="confirm(car.id)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-info" @click.prevent="edit(car.id)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <Pagination
                                :urls="urls"
                                :total="total"
                                :lastPage="lastPage"
                                @changePerPage="changePerPage"
                                @changePage="fetch"
                        ></Pagination>
                    </template>
                </preloader>
            </div>
        </div>

        <modal
                v-if="isModalVisible"
                @cancel="cancelDelete"
                @ok="confirmed"
                ok-class="btn btn-danger"
                ok-text="Delete"
        >
            <template v-slot:header>
                Deleting Car
            </template>
            <template v-slot:body>Do You want delete this car?</template>
        </modal>

    </main>
</template>

<script>

    import Modal from './Modal';
    import AddBlock from './AddBlock';

    import Preloader from '../services/ui-components/Preloader';
    import Pagination from '../services/ui-components/Pagination';
    import Form from '../services/ui-components/Form';
    import FileField from '../services/ui-forms/fields/File'
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import MixinPaginate from '../mixins/paginate';
    import MixinForm from '../mixins/form';
    import MixinModal from '../mixins/modal';


    export default {
        name: "Car",
        components: {
            Modal,
            AddBlock,
            Preloader,
            Pagination,
            Form,
            FileField
        },

        mixins: [MixinPaginate, MixinForm, MixinModal],

        data() {
            return {
                texth1: 'Форма добавления машины',
                deleting: [],

                model: {
                    id: null,
                    mark_id: null,
                    model_id: null,
                    year: null,
                    color: null,
                    number_car: null,
                    fuel_id: null,
                    transmission_id: null,
                    price: null,
                    date_technical_inspection: null,
                    technical_inspection_first: null,
                    technical_inspection_second: null,
                    date_insurance: null,
                    insurance_photo: null
                }
            };
        },
        created() {
            this.get_mark_select();
            this.get_model_select();
            this.get_fuel_select();
            this.get_transmission_select();

        },
        computed: {
            ...mapGetters({
                items: 'car/getItems',
                mark_select: 'mark/getAll',
                model_select: 'modelcar/getAll',
                fuel_select: 'fuel/getAll',
                transmission_select: 'transmission/getAll'
            }),
            loading() {
                return this.$store.state.loading;
            },

        },
        methods: {
            ...mapActions({
                save: 'car/save',
                remove: 'car/delete',
                get_mark_select: 'mark/all',
                get_model_select: 'modelcar/all',
                get_fuel_select: 'fuel/all',
                get_transmission_select: 'transmission/all'
            }),

            getModelMark(mark_id) {
                return this.model_select.filter(item => {
                    return item.mark_id == (mark_id || this.model.mark_id);
                })
            },

            confirm(id) {
                this.deleting.push(id);
                this.showModal();
            },
            confirmed() {
                this.delete();
                this.closeModal();
            },
            clearDelete() {
                this.deleting = [];
            },
            cancelDelete() {
                this.clearDelete();
                this.closeModal();
            },
            edit(id) {
                let items = this.items.filter((item) => {
                    return item.id == id;
                });
                this.model = Object.assign({}, this.model, items[0]);
                this.showForm();
                this.changeFormType('update');
            },
            delete() {
                this.remove(Object.assign({}, this.model, {'ids': this.deleting})).then(() => {
                    this.cancelDelete();
                })
            },
            add(e, key) {
                this.model[key] = e.target.files[0];
            }
        }
    }
</script>

<style scoped>

</style>
