<template>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Page for car in park</h1>

        </div>

        <add-block
                btnShowText="Показать форму"
                btnHideText="Скрыть форму"
                :hidden="hidenForm"
                @hide="hideForm"
                @show="showForm"
        >
            <template v-slot:content>

                <div class="row border border-success rounded rounded-10 shadow-lg p-3 mb-5 border-1 mt-3">
                    <div class="col-12">

                        <Form
                                :model="getModel"
                                :formType="formType"
                                action="driver/save"
                                @submit="submit"
                                :needFile="true"
                        >

                            <template v-slot:first_name="slotProps">
                                <TextField
                                        name="first_name"
                                        label="First name"
                                        :value.sync="model.first_name"
                                        :error="slotProps.errors.first_name"
                                />
                            </template>

                            <template v-slot:secondary_name="slotProps">
                                <TextField
                                        name="secondary_name"
                                        label="Secondary name"
                                        :value.sync="model.secondary_name"
                                        :error="slotProps.errors.secondary_name"
                                />
                            </template>

                            <template v-slot:phone="slotProps">
                                <TextField
                                        name="phone"
                                        label="Phone"
                                        :value.sync="model.phone"
                                        :error="slotProps.errors.phone"
                                />
                            </template>

                            <template v-slot:bill="slotProps">
                                <TextField
                                        name="bill"
                                        label="Bank account number"
                                        :value.sync="model.bill"
                                        :error="slotProps.errors.bill"
                                />
                            </template>

                            <template v-slot:email="slotProps">
                                <TextField
                                        name="email"
                                        label="Email"
                                        :value.sync="model.email"
                                        :error="slotProps.errors.email"
                                />
                            </template>

                            <template v-slot:password="slotProps">
                                <TextField
                                        name="password"
                                        label="Password"
                                        :value.sync="model.password"
                                        :error="slotProps.errors.password"
                                />
                            </template>

                            <template v-slot:front_drive_card="slotProps">
                                <FileField
                                        name="front_drive_card"
                                        id="front_drive_card"
                                        :classes="[slotProps.errors.front_drive_card.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="Front drive card"
                                        label="*Front drive card"
                                        :errorText="slotProps.errors.front_drive_card"
                                        :value="model.front_drive_card || ''"
                                        @change="add"
                                />
                            </template>

                            <template v-slot:back_drive_card="slotProps">
                                <FileField
                                        name="back_drive_card"
                                        id="back_drive_card"
                                        :classes="[slotProps.errors.back_drive_card.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="Back drive card"
                                        label="*Back drive card"
                                        :errorText="slotProps.errors.back_drive_card"
                                        :value="model.back_drive_card || ''"
                                        @change="add"
                                />
                            </template>

                            <template v-slot:certificate="slotProps">
                                <FileField
                                        name="certificate"
                                        id="certificate"
                                        :classes="[slotProps.errors.certificate.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="Certificate"
                                        label="*Certificate"
                                        :errorText="slotProps.errors.certificate"
                                        :value="model.certificate || ''"
                                        @change="add"
                                />
                            </template>

                            <template v-slot:passport="slotProps">
                                <FileField
                                        name="passport"
                                        id="passport"
                                        :classes="[slotProps.errors.passport.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="Passport"
                                        label="*Passport"
                                        :errorText="slotProps.errors.passport"
                                        :value="model.passport || ''"
                                        @change="add"
                                />
                            </template>

                            <template v-slot:photo="slotProps">
                                <FileField
                                        name="photo"
                                        id="photo"
                                        :classes="[slotProps.errors.photo.length > 0 ? 'is-invalid' : '', 'form-control']"
                                        placeholder="photo"
                                        label="*Photo"
                                        :errorText="slotProps.errors.photo"
                                        :value="model.photo || ''"
                                        @change="add"
                                />
                            </template>

                        </Form>
                    </div>
                </div>

            </template>
        </add-block>

        <br>

        <hr>
        <Pagination
                :urls="urls"
                :total="total"
                :lastPage="lastPage"
                @changePerPage="changePerPage"
                @changePage="fetch"
        ></Pagination>
        <hr>

        <h2>Section title</h2>
        <div class="table-responsive">
            <div class="table-responsive">

                <preloader>
                    <template v-slot:content>
                                                <table class="table table-striped table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th scope="col">First name</th>
                                                        <th scope="col">Second name</th>
                                                        <th scope="col">Phone</th>
                                                        <th scope="col">Bill account</th>
                                                        <th scope="col">Email</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    <tr v-for="(item, index) in items" :key="index">
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.first_name }}</td>
                                                        <td>{{ item.secondary_name }}</td>
                                                        <td>{{ item.phone }}</td>
                                                        <td>{{ item.bill }}</td>
                                                        <td>{{ item.email }}</td>
                                                        <td>
                                                            <button class="btn btn-danger" @click.prevent="confirm(item.id)">
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>
                                                            <button class="btn btn-info" @click.prevent="edit(item.id)">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                        <Pagination
                                :urls="urls"
                                :total="total"
                                :lastPage="lastPage"
                                @changePerPage="changePerPage"
                                @changePage="fetch"
                        ></Pagination>
                    </template>
                </preloader>
            </div>
        </div>

        <modal
                v-if="isModalVisible"
                @cancel="cancelDelete"
                @ok="confirmed"
                ok-class="btn btn-danger"
                ok-text="Delete"
        >
            <template v-slot:header>
                Deleting Car
            </template>
            <template v-slot:body>Do You want delete this car?</template>
        </modal>

    </main>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import Modal from './Modal';
    import AddBlock from './AddBlock';
    import Preloader from '../services/ui-components/Preloader';
    import Pagination from '../services/ui-components/Pagination';
    import Form from '../services/ui-components/Form';
    import TextField from '../services/ui-forms/fields/TextField';
    import FileField from '../services/ui-forms/fields/File';
    import MixinPaginate from '../mixins/paginate';
    import MixinForm from '../mixins/form';
    import MixinModal from '../mixins/modal';

    export default {
        name: "Driver",
        components: {
            Modal,
            AddBlock,
            Preloader,
            Pagination,
            Form,
            FileField,
            TextField
        },

        mixins: [MixinPaginate, MixinForm, MixinModal],

        data() {
            return {
                deleting: [],

                model: {

                    id: null,
                    first_name: null,
                    secondary_name: null,
                    phone: null,
                    bill: null,
                    email: null,
                    password: null,
                    front_drive_card: null,
                    back_drive_card: null,
                    certificate: null,
                    passport: null,
                    photo: null,
                }
            };
        },
        computed: {
            ...mapGetters({
                items: 'driver/getItems',

            }),
            loading() {
                return this.$store.state.loading;
            },

        },
        methods: {
            ...mapActions({
                save: 'driver/save',
                remove: 'driver/delete',

            }),

            confirm(id) {
                this.deleting.push(id);
                this.showModal();
            },
            confirmed() {
                this.delete();
                this.closeModal();
            },
            clearDelete() {
                this.deleting = [];
            },
            cancelDelete() {
                this.clearDelete();
                this.closeModal();
            },
            edit(id) {
                let items = this.items.filter((item) => {
                    return item.id == id;
                });
                this.model = Object.assign({}, this.model, items[0]);
                this.showForm();
                this.changeFormType('update');
            },
            delete() {
                this.remove(Object.assign({}, this.model, {'ids': this.deleting})).then(() => {
                    this.cancelDelete();
                })
            },
            add(e, key) {
                this.model[key] = e.target.files[0];
            }
        }
    }
</script>

<style scoped>

</style>
