<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div :class="[full ? 'full' : '', 'modal']"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header class="modal-header" id="modalTitle">
                    <slot name="header">
                        This is the default title!
                    </slot>
                    <button
                            type="button"
                            class="btn-close"
                            @click="$emit('cancel')"
                            aria-label="Close modal"
                    >
                        x
                    </button>
                </header>

                <section class="modal-body" id="modalDescription">
                    <slot name="body">
                        This is the default body!
                    </slot>
                </section>

                <footer class="modal-footer" v-if="showFooter">
                    <slot name="footer">Choise action</slot>
                    <div class="d-flex justify-content-end w-100">
                        <button v-if="showCancel"
                            type="button"
                            :class="['modal-btn', cancelClass]"
                            @click.prevent="$emit('cancel')"
                            aria-label="Close modal"
                        >
                            {{ cancelText }}
                        </button>
                        <button v-if="showOk"
                            type="button"
                            :class="['modal-btn', okClass]"
                            @click.prevent="$emit('ok')"
                        >
                            {{ okText }}
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "Modal",
        props: {
            okText: {
                type: String,
                default: 'Apply'
            },
            okClass: {
                type: String,
                default: 'btn btn-secondary'
            },
            cancelText: {
                type: String,
                default: 'Cancel'
            },
            cancelClass: {
                type: String,
                default: 'btn btn-secondary'
            },
            showOk: {
                type: Boolean,
                default: true,
            },
            showCancel: {
                type: Boolean,
                default: true,
            },
            showFooter: {
                type: Boolean,
                default: true,
            },
            full: {
                type: Boolean,
                default: false
            }
        },
        methods: {},
    }
</script>

<style scoped lang="scss">
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 450px;
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
        position: initial;
        &.full {
            width: 100vw;
            max-width: 100vw;
            height: 100vh;
            max-height: 100vh;
        }
        &-btn {
            margin-right: 10px;
            margin-bottom: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .modal-header,
    .modal-footer {
        padding: 15px;
        display: flex;
    }

    .modal-header {
        position: relative;
        border-bottom: 1px solid #eeeeee;
        color: #4AAE9B;
        justify-content: space-between;
    }

    .modal-footer {
        border-top: 1px solid #eeeeee;
        flex-direction: column;
        justify-content: flex-end;
    }

    .modal-body {
        position: relative;
        padding: 20px 10px;
        max-height: 100%;
        max-width: 100%;
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        color: #4AAE9B;
        background: transparent;
    }

    .btn-green {
        color: white;
        background: #4AAE9B;
        border: 1px solid #4AAE9B;
        border-radius: 2px;
    }

    .modal-fade-enter,
    .modal-fade-leave-to {
        opacity: 0;
    }

    .modal-fade-enter-active,
    .modal-fade-leave-active {
        transition: opacity .5s ease;
    }

</style>
