<template>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Page for partner in park</h1>

        </div>

        <add-block
                btnShowText="Показать форму"
                btnHideText="Скрыть форму"
                :hidden="hidenForm"
                @hide = "hideForm"
                @show = "showForm"
        >
            <template v-slot:content>

                <div class="row border border-success rounded rounded-10 shadow-lg p-3 mb-5 border-1 mt-3">
                    <div class="col-12">

                        <Form
                                :model="getModel"
                                :formType="formType"
                                action="partner/save"
                                @submit="submit"
                        >
                            <template v-slot:name="slotProps">
                                <TextField
                                        name="name"
                                        label="Name"
                                        :value.sync="model.name"
                                        :error="slotProps.errors.name"
                                />
                            </template>

                            <template v-slot:contact="slotProps">
                                <TextField
                                        name="contact"
                                        label="Contact"
                                        :value.sync="model.contact"
                                        :error="slotProps.errors.contact"
                                />
                            </template>

                            <template v-slot:phone="slotProps">
                                <TextField
                                        name="phone"
                                        label="phone"
                                        :value.sync="model.phone"
                                        :error="slotProps.errors.phone"
                                />
                            </template>

                            <template v-slot:email="slotProps">
                                <TextField
                                        name="email"
                                        label="email"
                                        :value.sync="model.email"
                                        :error="slotProps.errors.email"
                                        type_field="email"
                                />
                            </template>

                            <template v-slot:password="slotProps">
                                <TextField
                                        name="password"
                                        label="password"
                                        :value.sync="model.password"
                                        :error="slotProps.errors.password"
                                        type_field="password"
                                />
                            </template>
                        </Form>
                    </div>
                </div>

            </template>
        </add-block>


        <hr>
        <Pagination
                :urls="urls"
                :total="total"
                :lastPage="lastPage"
                @changePerPage="changePerPage"
                @changePage="fetch"
        ></Pagination>
        <hr>

        <h2>All partners from system</h2>
        <div class="table-responsive">

            <preloader>
                <template v-slot:content>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Contact name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="(partner, index) in items" :key="index">
                            <td>{{ partner.id }}</td>
                            <td>{{ partner.name }}</td>
                            <td>{{ partner.contact }}</td>
                            <td>{{ partner.email }}</td>
                            <td>{{ partner.phone }}</td>
                            <td>
                                <button class="btn btn-danger" @click.prevent="confirm(partner.id)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-info" @click.prevent="edit(partner.id)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <Pagination
                            :urls="urls"
                            :total="total"
                            :lastPage="lastPage"
                            @changePerPage="changePerPage"
                            @changePage="fetch"
                    ></Pagination>
                </template>
            </preloader>
        </div>

        <modal
                v-if="isModalVisible"
                @cancel="cancelDelete"
                @ok="confirmed"
                ok-class="btn btn-danger"
                ok-text="Delete"
        >
            <template v-slot:header>
                Deleting partner
            </template>
            <template v-slot:body>Do You want delete this partner?</template>
        </modal>

    </main>
</template>

<script>

    import Modal from './Modal.vue';
    import AddBlock from './AddBlock';

    import Preloader from '../services/ui-components/Preloader';
    import Pagination from '../services/ui-components/Pagination';
    import Form from '../services/ui-components/Form';

    import {mapActions, mapGetters} from 'vuex';

    import MixinPaginate from '../mixins/paginate';
    import MixinForm from '../mixins/form';
    import MixinModal from '../mixins/modal';
    import TextField from '../services/ui-forms/fields/TextField';

    export default {
        name: "Partner",
        components: {
            Modal,
            AddBlock,
            Preloader,
            Pagination,
            Form,
            TextField
        },

        mixins: [MixinPaginate, MixinForm, MixinModal],

        data() {
            return {
                texth1: 'Форма добавления партнера',
                deleting: [],

                model: {
                    id: null,
                    name: null,
                    contact: null,
                    phone: null,
                    email: null,
                    password: null
                }
            };
        },
        computed: {
            ...mapGetters({
                items: 'partner/getItems',
            }),
            loading() {
                return this.$store.state.loading;
            },
            isPasswdRequired() {
                return this.model.id === null;
                // return false;
            }
        },
        methods: {
            ...mapActions({
                save: 'partner/save',
                remove: 'partner/delete'
            }),
            edit(id) {
                // this.toggleForm(true);
                let items = this.items.filter((item) => {
                    return item.id == id;
                });
                this.model = Object.assign({}, this.model, items[0]);
                this.showForm();
                this.changeFormType('update');
            },
            delete() {
                this.remove(Object.assign({}, this.model, {'ids': this.deleting})).then(() => {
                    this.cancelDelete();
                })
            },
            confirm(id) {
                this.deleting.push(id);
                this.showModal();
            },
            confirmed() {
                this.delete();
                this.closeModal();
            },
            clearDelete() {
                this.deleting = [];
            },
            cancelDelete() {
                this.clearDelete();
                this.closeModal();
            }
        }
    }
</script>

<style scoped>

</style>
