<template>
    <transition name="fade-zoom">
        <div :class="['alert', 'alert-top' ,'alert-' + type]" role="alert">
            <div v-html="message"></div>
            <button
                type="button"
                class="alert-close close"
                aria-label="Close"
                @click="$emit('hide')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </transition>
</template>

<script>
    export default {
        name: 'Alert',
        props: {

            type: {
                type: String,
                default: 'primary'
            },

            message: {
                type: String,
                required: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../sass/variables';
    .alert {
        position: relative;
        padding: 0.75rem 1.25rem;
        font-weight: 400;
        border: 1px solid transparent;
        border-left: 5px solid rgba(0,0,0,.1);

        .close {
            cursor: pointer;
            outline: none;
            &:hover, &:focus {
                outline: none;
            }
        }
        &.alert-light {
            color: #12577d;
            background-color: #d3edfc;
            border-color: #c1e6fb;
        }

        &.alert-primary {
            color: #fff;
            background: $primary;
            .close {
                color: #fff;
            }
        }

        &.alert-danger {
            color: #fff;
            background: $danger;
            .close {
                color: #fff;
            }
        }

        &.alert-warning {
            color: $dark;
            background: $warning;
            .close {
                color: $dark;
            }
        }

        &.alert-info {
            color: #fff;
            background: $info;
            .close {
                color: #fff;
            }
        }

        &.alert-success {
            color: #fff;
            background: $success;
            .close {
                color: #fff;
            }
        }

        &.alert-top {
            position: fixed;
            top: 5%;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 400px;
            z-index: 9999;
            padding-right: 40px;
            .close {
                position: absolute;
                top: 0;
                right: 15px;
                bottom: 0;
                margin: auto;
            }
        }
    }
</style>
