<template>
    <div class="preloader__wrap">
        <slot name="content"></slot>
        <div v-if="loading" class="preloader">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Preloader",
        computed: {
            loading() {
                return store.state.loading;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .preloader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, 1);
        z-index: 10000;
        display: flex;
        align-items: center;
        justify-content: center;
        &__wrap {
            position: relative;
            width: 100%;
            height: 100%;
            min-width: 200px;
            min-height: 200px;
        }
    }
</style>
